Net6WebApi/bin/*
Net6WebApi/obj/*

Net6LibApi/bin/*
Net6LibApi/obj/*

*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp